.delete-modal--container {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background-color: hsl(var(--modal-background), 0.5);
}

.delete-modal {
	padding: 30px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	gap: 15px;
	background-color: var(--white);
}

.delete-modal--title {
	font-size: x-large;
}

.delete-modal--text {
	font-weight: 200;
	color: var(--grayish-blue);
	max-width: 30ch;
	line-height: 1.5rem;
}

.delete-modal-button--wrapper {
	display: flex;
	justify-content: space-between;
}

.delete-modal-button {
	border-radius: 10px;
	padding: 10px 20px;
	color: var(--white);

	&:hover {
		opacity: 0.6;
	}

	&.no {
		background-color: var(--grayish-blue);
	}

	&.yes {
		background-color: var(--soft-red);
	}
}
